
version: 2
jobs:
  deploy:
    docker:
      - image: govau/cf-cli
    steps:
      - checkout

      # Change the ckeditor http url to https
      # FIXME can we just fix this  so 'composer update' doesnt clobber it once and
      # for all??
      # Or just set secure-http to false? https://getcomposer.org/doc/06-config.md#secure-http
      - run: sed -i 's/http:\/\/download.ckeditor.com/https:\/\/download.ckeditor.com/g' composer.lock

      - run:
          name: Deploying to cloud.gov.au
          command: ./scripts/deploy.sh
workflows:
  version: 2
  deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only:
                # during testing we limit the branches we push
                # - master
                - develop
