{% include directory ~ '/templates/includes/_header.html.twig' %}
<main class="container">
    <a id="main-content" tabindex="-1"></a>
    <div id="main" class="main-container row">
        <div id="content">
            <section id="main-content-section" class="col-sm-12" role="main">
                <div id="page-content">
                    <h1>Page not Found</h1>
                </div>
            </section>
        </div>
    </div>
</main>
{% include directory ~ '/templates/includes/_footer.html.twig' %}
