{% include directory ~ '/templates/partials/_header.html.twig' %}

<div class="navbar hero light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="brand-heading CoT-ignore">
          Welcome to govCMS8
        </h1>
      </div>
      <div class="col-md-12">
        <p class="tagline">
          Running on the shiny, new, Drupal 8! 😛
        </p>
        <p>
          Managed by the Australian Government Department of Finance, govCMS is a content management system available to all levels of Australian government. Built on Drupal, we aim to simplify Government ICT and eliminate duplication of activities across
          agencies by providing them with a platform to design, develop and host websites. This reduces the technology and compliance burden on government agencies while providing a more cost-effective option for managing websites, allowing agencies to focus
          on providing high quality content and services to people.
        </p>
        <p>
          Development of govCMS8 is currently occurring over at
          <a href="https://github.com/govcms/govcms8">GitHub</a>
        </p>
        <p>
          <a class="cta-link" href="https://www.govcms.gov.au/apply-site">Call to action</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% include directory ~ '/templates/partials/_footer.html.twig' %}
