{#
/**
 * @file
 * Template to wrap the output of the menu.
 *
 * Available variables:
 * - content: The menu content to be rendered.
 */
#}
<nav class="responsive-menu-block-wrapper">
  {{ content }}
</nav>