{#
/**
 * @file
 * Template to wrap the output of the page.
 *
 * Available variables:
 * - content: The page content to be rendered.
 */
#}
<div class="responsive-menu-page-wrapper">
  {{ children }}
</div>