/**
Search
*/
div#search {
  color: $grey-dark;
  form {
    .input-group-btn {
      button {
        color: #fff;
        width: 100%;
        border-color: $grey-light;
        background-color: transparent;
        padding: 10px 15px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        &:hover,
        &:active,
        &:focus {
          background-color: $primary-dark;
        }
        i {
          color: #fff;
          font-size: 20px;
        }
      }
    }
  }
}

.position-above {
  display: block;
}

h2.brand {
  display:inline-block;
}

.calendar-text {
  margin-top: 0.25em;
}

.calendar-day-text {
  margin-top: 0.15em;
  font-size: 0.6em;
  height: 110px;
}
.calendar-month-text {
  margin-top: 1.4em;
  font-size: 0.4em;
  height: 110px;
}

.view-mode-teaser {
  .media-left {
    min-width: 277px;
    max-width: 277px;
  }
}


.view-mode-full {
  // This is a node viewed in Full
  .field--name-field-featured-image {
    img {
      padding-top: .5em;
      padding-bottom: .5em;
    }
  }
}

.media {
  .media-left {
    // Need these to center vertical align, I'm not a style guy so @timhurley, all yours!
    display: table-cell;
    vertical-align: middle;
    .field--name-field-featured-image {
      display: inline-block;
      img {
        height: 150px;
        width: auto;
      }
    }
  }
}

/**
This stuff below here, should really go in DTOStrap / and / or UI KIT once we get that in.
*/

.uikit-global-nav {
  background-color: #000000;
}

.region-nav-secondary {
  color: #FFFFFF;
  padding: 0px;

  a {
    color: #FFFFFF;
  }

  form#search-form {

    padding: 10px 0px;

    .input-group-lg {
      .form-control {
        height: 35px;
        padding: 2px 16px;
      }

      button {
        padding: 0px 15px;
        height:35px;
      }
    }
  }
}

.region-sidebar-first, .region-sidebar-second, .region-content, .region-nav, .region-nav-search {
  div#search {
    padding: 10px 0px;

    form {
      .input-group-btn {
        button {
          border-color: $grey;
          i {
            color: $grey;
          }

          &:hover {
            i {
              color: #fff;
            }
          }
        }
      }

    }
  }
}

.region-nav, .region-nav-search {
  div#search {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

ul.menu.admin-nav-menu {
  margin-right: 15px;
  margin-bottom: 0px;

  li {
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
      background-color: $primary-bright;
    }
  }

  a {
    border-bottom: none;
    font-size: 75%;
  }
}

header.navbar {
  border-top: none;
  margin-bottom: 0px;
  border-radius: 0px;
  nav.navbar {
    margin-bottom: 0px;
    div.navbar-header {
      width: 100%;
      a {
        border-bottom: none;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}